<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GSPictureBrower.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>493CE76E1E0B71E800EE4980</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>493CE7871E0B71E800EE4980</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>493CE7921E0B71E800EE4980</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
